DATABASE_URL=postgres://motifvb:eN7:xC6*oF4[hM0]@europe-west1-001.proxy.kinsta.app:30665/motifv
CORS_ORIGIN=
BETTER_AUTH_SECRET=openssl rand -base64 32
BETTER_AUTH_URL=
MISTRAL_API_KEY=your_mistral_api_key_here
